@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .seat-label {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .demo-available{
        width: 30px;
        height: 30px;
        color:  #64ea95; /* Gray for unselected seats */
        transition: color 0.3s ease;
    }
    .demo-booked{
        color:gray; /* Gray for occupied seats */
    
     }
     .demo-selected{
        color: #0d67f9; /* Blue for selected seats */
    }




    .seat-icon  {
        width: 30px;
        height: 30px;
        color:  #64ea95; /* Gray for unselected seats */
        transition: color 0.3s ease;
    }
    /* Selected Seat */
    .seat-checkbox:checked + .seat-label .seat-icon {
        color: #0d67f9; /* Blue for selected seats */
    }

    /* Occupied Seat (disabled) */
    .seat-checkbox:disabled + .seat-label .seat-icon  {
        color:gray; /* Gray for occupied seats */
    }
     
    /* Hover Effect for Available Seats */
    .seat-checkbox:not(:checked):not(:disabled) + .seat-label:hover .seat-icon {
        color:rgb(63, 152, 236) /* Green on hover for available seats */
    }
}
